Repository voxpupuli/puppet-mysql_java_connector, pull requests merged in 2025-07, with the labels that each got.

#96 modulesync 10.0.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#98 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog

#97 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement

#99 puppet/archive: Allow 8.x
  metadata.json
Labels: enhancement
